*{

    padding: 0;
    margin: 0;
    background-color: dodgerblue;
}
h1
{
    background-color: black;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choice{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.choice:hover{
 
    cursor: pointer;
    background-color: black;
}
img
{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;

}
.choices{
 display: flex;   
 justify-content: center;
 align-items: center;
 gap:3rem;
 margin-top: 5rem;
}
.score-board

{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#computer-score{
    font-size: 4rem;
}
.msg-container
{
  
     display: flex;
     justify-content: center;
     align-items: center;
     
}
#msg
{
    background-color: black;
    color:white;
    font-size: 2rem;
    display: inline;  
    padding: 1rem;
    border-radius: 1rem;


}
